h1, h4, p {
    margin:0;
}

a {
    font-weight: 500;
    color: #0000EE;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#headerSection {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #444444;
}

#headerNameContainer {
    width: 90%;
    text-align: center;
    position: relative;
}

#headerName {
    font-size: 2em;           /* Font size is usually 2 times the parent font size */
    font-weight: bold;        /* Text is bold by default */
    line-height: 1.2;    
}

#headerInfoRow {
    min-width: 100%;
    display: grid;
    grid-template-columns: auto 10% auto;
    grid-template-rows: 20% 80%;
}

#headerLinksTitle, #headerContactTitle {
    width: 100%;
    position: relative;
    text-decoration: underline;
    margin-bottom:3mm;
    text-align: center;
}

#headerContactTitle {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#headerLinksTitle {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

#headerContact {
    margin-top: 5px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 0.75rem;
}

#headerContact li {
    width: 100%;
}

#headerContact li > * {
    width: 100%;
}

#headerLinks {
    margin-top: 5px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 0.75rem;
}

#headerLinks li {
    width: 100%;
}

#headerLinks li > * {
    width: 100%;
}

.lineBreak {
    margin-top: 5px;
    min-height: 2px;
    min-width: 110%;
    background-color:darkblue;
}


#addLinkButton {
    padding: 0;
    margin: 0;
    padding-bottom: 2mm;
}

#removeLinkButton {
    padding: 0;
    margin: 0;
    margin-top: 2mm;
}

#removeLinkButton, #addLinkButton {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit; /* Matches surrounding text size */
}

#removeLinkButton:hover, #addLinkButton:hover {
    background-color: #0056b3; /* Darker blue */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}
  