.toolbar {
    height: 7mm;
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000; /* Black border for the edge */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a slight shadow for effect */  
    box-sizing: border-box; /* Ensures padding is included in the width */
}

#rightToolbar {
    top: 6mm;
}

.toolbarButton {
    height: 100%;
    border: 1px solid #000; /* Black border for the edge */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a slight shadow for effect */  
    box-sizing: border-box; /* Ensures padding is included in the width */
    cursor: pointer;
    text-wrap-mode: nowrap;
}

.toolbarButton:hover {
    background-color: darkgrey;
}