h1, h4, p {
    margin:0;
    padding: 0;
}

#objectiveSection {
    padding-top: 5mm;
    padding-bottom:5mm;
    max-width: 100%;
    margin: 0 auto;
    color: #444444;
}

#objectiveContainer {
    display: grid;
    grid-template-columns: 10% 5% 85%;
}

#objectiveTitle {
    grid-column-start: 1;
    grid-column-end: 2;
}

#objectiveContent {
    grid-column-start: 3;
    grid-column-end: 4;
} 